

<!-- w-20 = WIDTH = 30; -->
<div class="project-wrapper">
    <!-- border-5 = Border of width 5 px
         border-primary = Border of color BLUE
         m-b-3 = MARGIN BOTTOM = 3 -->
    <div class="card">
        <div class="card-header">
            <img src="@myProject.projectImg" alt="@myProject.projectImgAlt" class="card-img-top" id="@myProject.projectImgId">
        </div>
        <div class="card-body">
            <h3 class="card-title">@myProject.projectTitle</h3>
            <p class="card-text">@myProject.projectDescription</p>
            <div class="btn-group" role="group">
                @if (!string.IsNullOrEmpty(myProject.projectViewLink))
                {
                    <a href="@myProject.projectViewLink" class="btn btn-outline-primary">View Project</a>
                }
                <a href="@myProject.projectLink" class="btn btn-outline-info">Link to Project</a>
            </div>


        </div>
    </div>
</div>

@code {
    [EditorRequired]
    [Parameter]
    public Models.Project myProject { get; set; } = new();
}