<!-- w-20 = WIDTH = 30; -->
<div class="col-lg-3 w-10 mw-30 h-100">
    <!-- m-b-3 = MARGIN BOTTOM = 3 -->
    <div class="card border-primary border-5 m-b-3" style="width: 20vw;">
        <img src="@ProjectImg" alt="@ProjectImgAlt" class="card-img-top" id="@ProjectImgId">
        <div class="card-body">
            <h3 class="card-title">@ProjectTitle</h3>
            <p class="card-text">@ProjectDesc</p>
            <a href="@ProjectLink" class="btn btn-primary"> Link to Project</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ProjectTitle { get; set; }
    [Parameter]
    public string ProjectDesc { get; set; }
    [Parameter]
    public string ProjectLink { get; set; }
    [Parameter]
    public string ProjectImg { get; set; }
    [Parameter]
    public string ProjectImgAlt { get; set; }
    [Parameter]
    public string ProjectImgId { get; set; }
}